<!doctype html>
<html>
<head><title>Coffee Maker</title></head>

<body>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

    <h1><u>Coffee Maker</u></h1>

    <br>
    <h3><b>Status:</b> <div id="status">{{ status }}</div></h3>

    <button id="toggle" name="toggle">On/Off</button>





<script type="text/javascript">
$(function() {
    $("#toggle").click(function() {
    	$.ajax({
    		type: "POST",
    		url: "{{ url_for('coffee') }}",
    		success: function(){}
    	});


         $.ajax({
            type: "GET",
            url: "{{ url_for('status') }}",
            success: function(data) {
                $('#status').text(data.value);
            }
        });     
    });

    function getStatus(){
	    $.ajax({
	    	type: "GET",
	    	url: "{{ url_for('status') }}",
	    	success: function(data) {
	    		$('#status').text(data.value);
	    	},
	    	complete: function() {
	    		setTimeout(getStatus, 1000);
	    	}

	    });
    };

    getStatus();


  });
</script>


</body>
</html>
